@model SupplierJuridicalViewModel

@{
    ViewData["Title"] = "DetailsJuridical";
}

<h1>DetailsJuridical</h1>

<div>
    <h4>SupplierJuridical</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cnpj)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cnpj)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OpenDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OpenDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FantasyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FantasyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address.Street),
            @Html.DisplayFor(model => model.Address.Number),
            @Html.DisplayFor(model => model.Address.Neighborhood),
            @Html.DisplayFor(model => model.Address.City), CEP:
            @Html.DisplayFor(model => model.Address.ZipCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InsertDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InsertDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>
        <dd class="col-sm-10">
            @foreach (var item in Model.Phones)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ddd)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneType)
                    </td>
                </tr>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditJuridical" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="IndexJuridical">Back to List</a>
</div>
